[run]
omit =
    # omit anything in venv dir anywhere
    */venv/*
    # omit everything in test dir
    test/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover